@font-face {
  font-family: FuturaStd;
  src: url('assets/FuturaStd-Book.otf') format('opentype');
}

@font-face {
  font-family: FuturaStd;
  font-weight: bold;
  src: url('assets/FuturaStd-Heavy.otf') format('opentype');
}
